<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="Version">1.0</entry>
<!-- equity_info SQL statements vvv -->
  <entry key="No_Tkrs">There are no tickers specified for download of historical data.
  </entry>
  <entry key="alphavantage_api_key">5IJ39L5WKNBVC0IT</entry>
  <entry key="retrieve_tickers">Retrieving list of tickers:</entry>
  <entry key="retrieve_history">Retrieving historical data on tickers:</entry>
<!-- equity_info SQL statement ^^^ -->
</properties>

