<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="Language"></entry>
<entry key="CurrentVersion"></entry>
<entry key="LastOS"></entry>
<entry key="CurrentOS"></entry>
<entry key="Version"></entry>
<entry key="LastVersion"></entry>
</properties>
