<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="Version">1.0</entry>
<!-- put in alpha order -->
  <entry key="English (GB)">en-gb</entry>
  <entry key="English (US)">en-us</entry>
  <entry key="French (FR)">es-fr</entry>
  <entry key="Spanish (SP)">es-es</entry>
</properties>
