<ofxDownload>
  <financialInstitutions>
    <financialInstitution>
      <finame></finame>
      <fiOrg></fiOrg>
      <brokerId></brokerId>
      <fiId></fiId>
      <fiUrl></fiUrl>
      <Active>No</Active>
      <directAccess>
        <TokenRefresh></TokenRefresh>
        <ClientId></ClientId>
        <httpSchema></httpSchema>
        <httpHost></httpHost>
        <httpPath></httpPath>
        <debugBytes></debugBytes>
      </directAccess>
      <accounts>
        <account>
          <acctNumber></acctNumber>
          <acctName></acctName>
          <acctUId></acctUId>
          <acctPW></acctPW>
          <Active></Active>
        </account>
      </accounts>
    </financialInstitution>
  </financialInstitutions>
</ofxDownload>
