<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="Version">1.0</entry>
  <entry key="Title">TWS Tools Status</entry>
  <!-- -->
  <entry key="StatusFormatted1">Waiting on IB for %s ...</entry>
  <entry key="StatusFormatted2">Retrieving basic info on %s ...</entry>
  <entry key="StatusFormatted3">Requesting option chain on %s ...</entry>
  <entry key="StatusFormatted4">Waiting on IB for %s option chains ...</entry>
  <entry key="StatusFormatted5">%s option chain retrieved ...</entry>
  <!--  -->
</properties>
