<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="Reports"></entry>
<entry key="Default"></entry>
<entry key="Home"></entry>
<entry key = "OptionHistory"></entry>
<entry key = "OfxFiles"></entry>
</properties>

